<div class="header">
    <img src="https://www.ikomiperu.com/assets/img/LOGO_IKOMI.png" alt="IKOMI Perú Logo" class="logo">
    <nav>
      <ul>
        <li><a routerLink="inicio">Inicio</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/productos">Producto</a></li>
        <li><a routerLink="/marca">Marcas</a></li>
        <li><a routerLink="/contactenos">Contáctenos</a></li>
      </ul>
    </nav>
  </div>