<section class="brands-section">
    <h1 class="text-center">MARCAS</h1>
    <p class="text-center subtitle">
      Contamos con las marcas más reconocidas en el mercado nacional e internacional especializadas en la fabricación de repuestos para vehículos con altos estándares de calidad.
    </p>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="brand-card">
            <img src="https://www.ikomiperu.com/assets/img/marcas/sangsin2-1-768x156.png" alt="SANGSIN BRAKE">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa ipsum vero, delectus aut, quibusdam debitis iusto incidunt obcaecati ducimus, neque maiores inventore consequatur. In aliquam perferendis iusto reiciendis totam provident quis placeat at illum adipisci minus ipsum dicta sapiente, autem beatae tempora dolorum architecto voluptas, molestiae illo laborum? Molestiae!</p>
          </div>
        </div>
        <div class="col">
          <div class="brand-card">
            <img src="https://www.ikomiperu.com/assets/img/marcas/HANSANG-26032-768x248.png" alt="HANSANG">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa ipsum vero, delectus aut, quibusdam debitis iusto incidunt obcaecati ducimus, neque maiores inventore consequatur. In aliquam perferendis iusto reiciendis totam provident quis placeat at illum adipisci minus ipsum dicta sapiente, autem beatae tempora dolorum architecto voluptas, molestiae illo laborum? Molestiae!</p>
          </div>
        </div>
        <div class="col">
          <div class="brand-card">
            <img src="https://www.ikomiperu.com/assets/img/marcas/mando2-1-768x208.png" alt="Mando">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa ipsum vero, delectus aut, quibusdam debitis iusto incidunt obcaecati ducimus, neque maiores inventore consequatur. In aliquam perferendis iusto reiciendis totam provident quis placeat at illum adipisci minus ipsum dicta sapiente, autem beatae tempora dolorum architecto voluptas, molestiae illo laborum? Molestiae!</p>
          </div>
        </div>
        <div class="col">
          <div class="brand-card">
            <img src="https://www.ikomiperu.com/assets/img/marcas/TCIC-e1646945558616.png" alt="TIC">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa ipsum vero, delectus aut, quibusdam debitis iusto incidunt obcaecati ducimus, neque maiores inventore consequatur. In aliquam perferendis iusto reiciendis totam provident quis placeat at illum adipisci minus ipsum dicta sapiente, autem beatae tempora dolorum architecto voluptas, molestiae illo laborum? Molestiae!</p>
          </div>
        </div>
        <div class="col">
          <div class="brand-card">
            <img src="https://www.ikomiperu.com/assets/img/marcas/valeo-1-e1646949714959.jpg" alt="Valeo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa ipsum vero, delectus aut, quibusdam debitis iusto incidunt obcaecati ducimus, neque maiores inventore consequatur. In aliquam perferendis iusto reiciendis totam provident quis placeat at illum adipisci minus ipsum dicta sapiente, autem beatae tempora dolorum architecto voluptas, molestiae illo laborum? Molestiae!</p>
          </div>
        </div>
        <div class="col">
          <div class="brand-card">
            <img src="https://www.ikomiperu.com/assets/img/marcas/YULIM-1-768x236.png" alt="YULIM">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsa ipsum vero, delectus aut, quibusdam debitis iusto incidunt obcaecati ducimus, neque maiores inventore consequatur. In aliquam perferendis iusto reiciendis totam provident quis placeat at illum adipisci minus ipsum dicta sapiente, autem beatae tempora dolorum architecto voluptas, molestiae illo laborum? Molestiae!</p>
          </div>
        </div>
      </div>
    </div>
  </section>